.form-container {
    display: flex; 
    padding-left: 5cm;
    padding-right: 5cm;
    width: 70%;
    align-items: center;
  }
  
  input[type="text"] {
    flex: 1; 
    margin-right: 20px; 
    padding: 10px;
    border: 5px solid blueviolet; 
    border-radius: 10px; 
    background-color: white; 
    color: rgb(36, 34, 36);   
    font-size: 1cm;
  }
  
 button {
    border: 5px solid blueviolet; 
    border-radius: 10px; 
    background-color: white; 
    color: blueviolet; 
    width:3cm;
    height: 1.9cm;
    font-size: 1cm;
     
    
  }
  
input[type="text"]:hover {
  border: 5px solid rgb(241, 12, 241); 
}