.App {
  text-align: center;
}

header{
  color: white;
  
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 2cm;
  background-color:rgb(209, 170, 245);
  padding: 2cm;
  border:blueviolet 7px solid;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}








